Cython
librosa==0.9.1
matplotlib
numpy
scipy
tensorboard
torch==1.13.1
torchvision
unidecode
protobuf
tqdm
vinorm
underthesea
eng_to_ipa
vietnam-number
git+https://github.com/quadrismegistus/prosodic.git
viphoneme
ipython